@import url("./components.css");
/* FONTS START */
@font-face {
  font-family: "Avenir-Medium";
  font-display: swap;
  src: url("/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "Avenir-Roman";
  font-display: swap;
  src: url("/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir-Book";
  font-display: swap;
  src: url("/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir-Heavy";
  font-display: swap;
  src: url("/fonts/Avenir-Heavy.ttf");
}

/* FONTS END */
/****************** GENERAL STARTING *******************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  /** HEADLINES AND FONTS **/
}

html body {
  margin-top: 13rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6fafd), to(#fff));
  background: linear-gradient(#f6fafd, #fff);
}

html a:hover {
  text-decoration: none;
}

html h1 {
  font-family: Helvetica, sans-serif;
  color: #212353;
  font-weight: bold;
  line-height: 130%;
  font-size: 4rem;
}

html h3 {
  font-size: 2rem;
}

html h5 {
  font-family: "Avenir-Roman";
  font-size: 1.6rem;
  color: #212353;
  line-height: 3rem;
}

html h5:hover {
  color: #f063b8;
}

html p {
  font-family: "Avenir-Medium";
  color: #4b5d68;
}

/* FONT SIZE FOR RESPONSIVE */
@media (max-width: 570px) {
  p {
    font-size: 1.4rem;
  }
}

@media (min-width: 50px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 10px;
  }
}

/* FONT SIZE FOR RESPONSIVE END */
/*********** GENERAL END *************/
/* MIXIN */
/* MIXIN END */
/* INHERIT FOR BOXES START **/
section .features .box-wrapper .box1, section .features .box-wrapper .box2, section .features .box-wrapper .box3, section .features .box-wrapper .box4 {
  padding: 5rem 0rem 2rem 4rem;
  background-color: rgba(104, 201, 186, 0.1);
  border-radius: 5rem;
  position: relative;
}

@media (max-width: 575px) {
  section .features .box-wrapper .box1 .box-text, section .features .box-wrapper .box2 .box-text, section .features .box-wrapper .box3 .box-text, section .features .box-wrapper .box4 .box-text {
    text-align: center;
  }
}

/** INHERIT FOR BOXES END **/
/* Navbar Scroll Down Background COLOR START */
.nav-colored {
  background-color: rgba(246, 250, 253, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 991px) {
  .nav-colored {
    padding: 2rem 2rem;
  }
}

.nav-transparent {
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar {
  text-align: right;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 5rem !important;
  }
}

.navbar-light {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler[type="button"] {
  outline: none;
}

@media screen and (max-width: 999px) {
  .navbar {
    background-color: rgba(246, 250, 253, 0.8);
    border-radius: 1rem;
  }
}

.navbar .active a {
  color: #000 !important;
}

.navbar .collapsing {
  font-family: Avenir-Medium;
  color: #4b5d68;
  font-size: 1.8rem;
  margin-right: 2.2rem;
}

@media screen and (max-width: 991px) {
  nav .button-demo {
    display: none;
  }
}

nav .collapse ul li a {
  margin-right: 2.2rem;
  font-size: 1.8rem;
  font-family: Avenir-Medium;
  color: #4b5d68;
}

@media screen and (min-width: 999px) {
  nav .collapse ul li a {
    margin-right: 4rem;
    font-size: 1.8rem;
  }
}

nav .collapse ul li a:hover {
  color: #f063b8 !important;
}

/* Navbar Scroll Down Background COLOR END */
/************** HEADER STARTING *************/
#headline .header-wrapper {
  position: relative;
}

#headline .header-wrapper h1 {
  font-size: 6.2rem;
}

@media screen and (max-width: 991px) {
  #headline .header-wrapper h1 {
    text-align: center;
    font-size: 5.7rem;
  }
}

#headline .header-wrapper p {
  font-size: 1.8rem;
  font-family: "Avenir-Medium";
  margin: 3rem 0;
  position: absolute;
  z-index: 3;
  color: #4b5d68;
}

@media screen and (max-width: 991px) {
  #headline .header-wrapper p {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: -5rem;
  }
}

#headline .header-wrapper .button-learn-more {
  background-color: #000;
  position: absolute;
  margin: 18rem 0;
}

#headline .header-wrapper .button-learn-more:hover {
  background-color: #fff;
  border: 2px solid #9c69e2;
  color: #9c69e2;
}

@media screen and (max-width: 1310px) {
  #headline .header-wrapper .button-learn-more {
    margin-top: 13rem;
    padding: 1rem 3.7rem;
    margin-left: 15rem;
  }
}

#headline .header-wrapper #header-photo {
  margin-top: 5rem;
  margin-left: -23rem;
  margin-bottom: -3rem;
  z-index: 2;
}

@media screen and (min-device-width: 991px) and (max-width: 1310px) {
  #headline .header-wrapper #header-photo {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  #headline .header-wrapper #header-photo {
    width: 0px;
    height: 0px;
    display: none;
  }
}

/************** HEADER END ************/
/*************** SECTIONS START ****************/
section {
  /** SECTION 1 START **/
  /** SECTION 1 END **/
  /** SECTION 2 START (FUTURE) **/
  /** SECTION 2 END (FUTURE) **/
  /** SECTION 3 START (TESTIMONY) **/
  /** SECTION 3 END (TESTIMONY) **/
  /** SECTION 4 START (TRY FOR FREE SECTION AND BUTTONS) **/
  /** SECTION 4 END (TRY FOR FREE SECTION AND BUTTONS) **/
}

section:not(:first-of-type) {
  margin: 9rem 0;
}

section .wrapper-leveldata {
  border-radius: 5rem;
  background-color: #007bff75;
}

section .wrapper-leveldata p {
  font-family: "Avenir-Medium";
  font-size: 1.8rem;
}

@media screen and (max-width: 998px) {
  section .wrapper-leveldata h1,
  section .wrapper-leveldata p {
    text-align: center;
  }
}

section .features p {
  margin: 2rem 5rem 2rem 0;
  font-family: "Avenir-Book";
  color: #4b5d68;
  font-size: 1.6rem;
}

section .features .box-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section .features .box-wrapper h2 {
  font-family: Helvetica, sans-serif;
  color: #212353;
  font-size: 2.4rem;
  font-weight: bold;
}

section .features .box-wrapper h4 {
  font-family: "Avenir-Heavy";
  color: #212353;
}

section .features .box-wrapper .box2 {
  background-color: rgba(156, 105, 226, 0.1);
}

section .features .box-wrapper .box3 {
  background-color: rgba(240, 99, 184, 0.1);
}

section .features .box-wrapper .box4 {
  background-color: rgba(45, 156, 219, 0.1);
}

section .testimony .wrapper-testimony {
  border-radius: 5rem;
  padding: 8rem 0 13rem 0;
  background-color: #9c69e2;
  position: relative;
}

@media screen and (max-width: 998px) {
  section .testimony .wrapper-testimony {
    padding: 5rem 0;
  }
}

section .testimony .wrapper-testimony h1 {
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  section .testimony .wrapper-testimony .carousel-indicators {
    bottom: -8rem;
    left: -5rem;
    right: auto;
  }
  section .testimony .wrapper-testimony .carousel-indicators li {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
  }
  section .testimony .wrapper-testimony .carousel-indicators li:not(:last-child) {
    margin-right: 2rem;
  }
  section .testimony .wrapper-testimony .carousel-control-prev {
    height: 5rem;
    width: 5rem;
    top: 37rem;
    left: 97rem;
    position: absolute;
    -webkit-transition: .4s all;
    transition: .4s all;
  }
  section .testimony .wrapper-testimony .carousel-control-prev:focus {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
  section .testimony .wrapper-testimony .carousel-control-prev img {
    rotate: 180deg !important;
  }
  section .testimony .wrapper-testimony .carousel-control-next {
    height: 5rem;
    width: 5rem;
    top: 37rem;
    right: 4rem;
    position: absolute;
    -webkit-transition: .2s all;
    transition: .2s all;
  }
  section .testimony .wrapper-testimony .carousel-control-next:focus {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
}

@media screen and (max-width: 1200px) {
  section .testimony .threeIndicators {
    display: none;
  }
}

section .testimony .card {
  border-radius: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1100px) {
  section .testimony .card {
    -webkit-filter: drop-shadow(0 2rem 0.3rem #8c60c9);
            filter: drop-shadow(0 2rem 0.3rem #8c60c9);
  }
}

@media screen and (max-width: 768px) {
  section .testimony .card {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 768px) {
  section .testimony .card .card-inner {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  section .testimony .card .card-inner {
    padding: 4rem 7rem;
  }
}

section .testimony .card .card-body .card-text h3 {
  font-family: "Avenir-Heavy";
  font-size: 1.8rem;
  color: #212353;
}

section .testimony .card .card-body .card-text h5 {
  font-family: "Avenir-Medium";
  font-size: 1.4rem;
  color: #9c69e2;
}

section .testimony .card .card-body .card-text p {
  font-family: "Avenir-Roman";
  font-size: 1.8rem;
  color: #4b5d68;
}

@media screen and (max-width: 500px) {
  section .testimony .card .card-body .card-text p {
    margin-top: 1rem !important;
  }
}

@media screen and (max-width: 765px) {
  section .testimony .card .card-body .profile {
    padding-right: 0;
    text-align: right;
  }
}

section #3dots {
  margin-right: -5rem !important;
}

section .section-4 {
  border-top: 0.1rem solid rgba(75, 93, 104, 0.3);
  padding-top: 10rem;
}

@media screen and (max-width: 777px) {
  section .section-4 .button-learn-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem 2rem;
  }
  section .section-4 .button-demo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem 2rem;
  }
  section .section-4 h1 {
    margin: auto;
  }
  section .section-4 p {
    margin: auto;
  }
}

section .section-4 h1 {
  font-family: Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

section .section-4 p {
  font-family: Avenir-Medium;
  font-size: 1.8rem;
}

section .section-4 .button-demo:hover {
  background-color: #9C69E2;
}

/******************* SECTIONS END *****************/
/************* FOOTER START **************/
@media only screen and (min-width: 430px) {
  footer .info .adress {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

footer .info .adress p {
  font-size: 1.6rem;
  font-family: "Avenir-Medium";
  color: #212353;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
}

footer .info .contact p {
  font-size: 1.6rem;
  font-family: "Avenir-Book";
  color: #212353;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
}

footer h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Avenir-Roman";
  font-size: 1.6rem;
  font-weight: bold;
}

footer .footer-end {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-media-accounts i {
  margin-right: 1.7rem;
  font-size: 5rem;
  color: #5c6a75;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .social-media-accounts #facebook:hover {
  color: #3b5998;
  cursor: pointer;
}

footer .social-media-accounts #twitter:hover {
  color: #1da1f2;
  cursor: pointer;
}

footer .social-media-accounts #instagram:hover {
  color: #FC574B;
  cursor: pointer;
}

footer .copyright p {
  font-size: 1.2rem;
  font-family: "Avenir-Book";
}

/*************** FOOTER END ******************/
/*# sourceMappingURL=main.css.map */
