@import url("./components.css");

/* FONTS START */
@font-face {
  font-family: "Avenir-Medium";
  font-display: swap;
  src: url("/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "Avenir-Roman";
  font-display: swap;
  src: url("/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir-Book";
  font-display: swap;
  src: url("/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir-Heavy";
  font-display: swap;
  src: url("/fonts/Avenir-Heavy.ttf");
}

/* FONTS END */

/****************** GENERAL STARTING *******************/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

  body {
    margin-top: 13rem;
    background: linear-gradient(#f6fafd, #fff);
  }

  a:hover {
    text-decoration: none;
  }


  /** HEADLINES AND FONTS **/

  h1 {
    font-family: Helvetica, sans-serif;
    color: #212353;
    font-weight: bold;
    line-height: 130%;
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h5 {
    font-family: "Avenir-Roman";
    font-size: 1.6rem;
    color: #212353;
    line-height: 3rem;

    &:hover {
      color: #f063b8;
    }
  }

  p {
    font-family: "Avenir-Medium";
    color: #4b5d68;
  }
}

/* FONT SIZE FOR RESPONSIVE */

@media (max-width: 570px) {
  p {
    font-size: 1.4rem;
  }
}

@media (min-width: 50px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 9px;
  }
}



@media (min-width: 1300px) {
  html {
    font-size: 10px;
  }
}

/* FONT SIZE FOR RESPONSIVE END */


/*********** GENERAL END *************/



/* MIXIN */

@mixin flex($flex, $rowOrColoumn, $justify-content, $align-items) {
  display: $flex;
  flex-direction: $rowOrColoumn;
  justify-content: $justify-content;
  align-items: $align-items;
}

/* MIXIN END */

/* INHERIT FOR BOXES START **/

%box {
  padding: 5rem 0rem 2rem 4rem;
  background-color: rgba($color: #68c9ba, $alpha: 0.1);
  border-radius: 5rem;
  position: relative;

  @media (max-width: 575px) {
    .box-text {
      text-align: center;
    }
  }
}

/** INHERIT FOR BOXES END **/

/* Navbar Scroll Down Background COLOR START */

.nav-colored {
  background-color: rgba(#f6fafd, 0.8);
  border-radius: 5rem !important;
  transition: all 0.5s ease;
  @media screen and (min-width: 991px) {
    padding: 2rem 2rem;
  }

}
.nav-transparent {
  background-color: transparent;
  transition: all 0.5s ease;
}


.navbar {
  
  @media screen and (max-width: 991px) {
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 5rem !important;
  }
  
  text-align: right;

  &-light{
    color: transparent !important;
    border-color: transparent !important;
  }

  &-toggler{
    color: transparent !important;
    border-color: transparent !important;

    &[type="button"] {
      outline: none;
    }
  }

  @media screen and (max-width: 999px) {
    background-color: rgba(#f6fafd, 0.8);
    border-radius: 1rem;
  }

  .active a {
    color: #f063b8 !important;
  }

  .collapsing {
    font-family: Avenir-Medium;
    color: #4b5d68;
    font-size: 1.8rem;
    margin-right: 2.2rem;
  }
}

nav {
  

  @media screen and (max-width: 991px) {
    .button-demo {
      display: none;
    }
  }

  .collapse {
    ul {
      li {
        a {
          margin-right: 2.2rem;
          @media screen and (min-width: 999px) {
            margin-right: 4rem;
            font-size: 1.8rem;
          }

          font-size: 1.8rem;
          font-family: Avenir-Medium;
          color: #4b5d68;
          &:hover {
            color: #f063b8 !important;
          }
        }
      }
    }
  }
}

/* Navbar Scroll Down Background COLOR END */

/************** HEADER STARTING *************/

#headline {
  
  .header-wrapper {
    position: relative;
    
    h1 {
      font-size: 6.2rem;
      @media screen and (max-width: 991px) {
        text-align: center;
        font-size: 5.7rem;
      }
    }
    p {
      font-size: 1.8rem;
      font-family: "Avenir-Medium";
      margin: 3rem 0;
      position: absolute;
      z-index: 3;
      color: #4b5d68;

      @media screen and (max-width: 991px) {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: -5rem;
      }

      @media screen and (max-width: 1310px) {
      }
    }

    .button-learn-more {
      background-color: #9c69e2;
      position: absolute;
      margin: 18rem 0;
      &:hover {
        background-color: #fff;
        border: 2px solid #9c69e2;
        color: #9c69e2;
      }

      @media screen and (max-width: 1310px) {
        margin-top: 13rem;
        padding: 1rem 3.7rem;
        margin-left: 15rem;
      }
    }

    #header-photo {
      margin-top: 5rem;
      margin-left: -23rem;
      margin-bottom: -3rem;
      z-index: 2;

      @media screen and (min-device-width: 991px) and (max-width: 1310px) {
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
      }

      @media screen and (max-width: 991px) {
        width: 0px;
        height: 0px;
        display: none;
      }

    }
  }
}

/************** HEADER END ************/

/*************** SECTIONS START ****************/

section {
  &:not(:first-of-type) {
    margin: 9rem 0;
  }
  /** SECTION 1 START **/

  .wrapper-leveldata {
    border-radius: 5rem;

    background-color: rgba(#f063b8, 0.15);
    p {
      font-family: "Avenir-Medium";
      font-size: 1.8rem;
    }

    @media screen and (max-width: 998px) {
      h1,
      p {
        text-align: center;
      }
    }
  }

  /** SECTION 1 END **/

  /** SECTION 2 START (FUTURE) **/

  .features {
    p {
      margin: 2rem 5rem 2rem 0;
      font-family: "Avenir-Book";
      color: #4b5d68;
      font-size: 1.6rem;
    }

    .box-wrapper {
      &:hover {
        transform: scale(1.05);
      }

      h2 {
        font-family: Helvetica, sans-serif;
        color: #212353;
        font-size: 2.4rem;
        font-weight: bold;
      }

      h4 {
        font-family: "Avenir-Heavy";
        color: #212353;
      }

      .box1 {
        @extend %box;
      }

      .box2 {
        @extend %box;
        background-color: rgba($color: #9c69e2, $alpha: 0.1);
      }

      .box3 {
        @extend %box;
        background-color: rgba($color: #f063b8, $alpha: 0.1);
      }

      .box4 {
        @extend %box;
        background-color: rgba($color: #2d9cdb, $alpha: 0.1);
      }
    }
  }

  /** SECTION 2 END (FUTURE) **/

  /** SECTION 3 START (TESTIMONY) **/

  .testimony {
    .wrapper-testimony {
      border-radius: 5rem;
      padding: 8rem 0 13rem 0;
      background-color: #9c69e2;
      position: relative;

      @media screen and (max-width: 998px) {
        padding: 5rem 0;
      }

      h1 {
        font-family: Helvetica, sans-serif;
        font-weight: bolder;
        color: #fff;
      }

      @media screen and (min-width: 1200px) {
        .carousel-indicators {
          bottom: -8rem;
          left: -5rem;
          right: auto;
        }

        .carousel-indicators li {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 100%;
        }

        .carousel-indicators li:not(:last-child) {
          margin-right: 2rem;
        }


        .carousel-control-prev {
          height: 5rem;
          width: 5rem;
          top: 37rem;
          left: 97rem;
          position: absolute;
          transition: .4s all;

          &:focus {
            transform: scaleX(1.5);
          }

          img {
            rotate: 180deg !important;
          }
        }

        .carousel-control-next {
          height: 5rem;
          width: 5rem;
          top: 37rem;
          right: 4rem;
          position: absolute;
          transition: .2s all;
          
          &:focus {
            transform: scaleX(1.5);
          }

        }
      }
    }
    .threeIndicators {
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    .card {
      border-radius: 2rem;
      margin-bottom: 2rem;
      
      @media screen and (min-width: 1100px) {
        filter: drop-shadow(0 2rem .3rem #8c60c9);
      }
         

      @media screen and (max-width: 768px) {
          width: 80%;
          height: 80%;
        
      }

      @media screen and (max-width: 768px) {
        .card-inner {
          width: 100%;
          height: 100%;
        }
      }

      @media screen and (min-width: 768px) {
        .card-inner {
          padding: 4rem 7rem; 
        }
      }

      .card-body {
        .card-text {
          h3 {
            font-family: "Avenir-Heavy";
            font-size: 1.8rem;
            color: #212353;
          }
          h5 {
            font-family: "Avenir-Medium";
            font-size: 1.4rem;
            color: #9c69e2;
          }

          p {
            font-family: "Avenir-Roman";
            font-size: 1.8rem;
            color: #4b5d68;

            @media screen and (max-width: 500px) {
            margin-top: 1rem !important;
          }

          }
        }

        .profile {
          @media screen and (max-width: 765px) {
            
             padding-right: 0;
             text-align: right;
           
         }

         
        }
      }
    }
  }

  #3dots {
    margin-right: -5rem !important;
  }

  /** SECTION 3 END (TESTIMONY) **/

  /** SECTION 4 START (TRY FOR FREE SECTION AND BUTTONS) **/

  .section-4 {
    border-top: 0.1rem solid rgba($color: #4b5d68, $alpha: 0.3);
    padding-top: 10rem;

    @media screen and (max-width: 777px) {
      .button-learn-more {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        padding: 1rem 2rem;
      }
      .button-demo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        padding: 1rem 2rem;
        
      }
      h1 {
        margin: auto;
      }
      p {
        margin: auto;
      }
    }

    h1 {
      font-family: Helvetica, sans-serif;
      font-size: 5rem;
      font-weight: bold;
    }

    p {
      font-family: Avenir-Medium;
      font-size: 1.8rem;
    }

    .button-demo {
        &:hover {
            background-color: #9C69E2;
        }
      
    }
  }

  /** SECTION 4 END (TRY FOR FREE SECTION AND BUTTONS) **/
}



/******************* SECTIONS END *****************/




/************* FOOTER START **************/

footer {
  .info {
    @media only screen and (min-width: 430px) {
      .adress {
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
    }

    .adress {
      p {
        font-size: 1.6rem;
        font-family: "Avenir-Medium";
        color: #212353;
        letter-spacing: 0.5px;
        line-height: 1.8rem;
      }
    }

    .contact {
      p {
        font-size: 1.6rem;
        font-family: "Avenir-Book";
        color: #212353;
        letter-spacing: 0.5px;
        line-height: 1.8rem;
      }
    }
  }

  h3 {
    align-self: center;
    font-family: "Avenir-Roman";
    font-size: 1.6rem;
    font-weight: bold;
  }

  .footer-end {
    margin: 5rem 0;
    @include flex(flex, row, space-between, center);
  }

  .social-media-accounts {
    i {
      margin-right: 1.7rem;
      font-size: 5rem;
      color: #5c6a75;
      transition: all .5s;
    }

    #facebook {
      
      &:hover {
        color: #3b5998;
        cursor: pointer;
      }
    }
    #twitter {
      
      &:hover {
        color: #1da1f2;
        cursor: pointer;
      }
    }
    #instagram {
      
      &:hover {
        color: #FC574B;
        cursor: pointer;
      }
    }
  }

  .copyright {
    p {
      font-size: 1.2rem;
      font-family: "Avenir-Book";
    }
  }
}

/*************** FOOTER END ******************/
